{% extends "template.html" %}
{% block conteudo %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/news.js') }}"></script>
{% endblock %}
<section class="container container-grid">
    <h2 class="titleSection">Últimas Notícias</h2>
    <div class="blck-content-grid">
    </div>
</section>
<section class="container container-grid">
    <h2 class="titleSection">Artigos Importantes</h2>
    <div class="blck-content-flex-index">
        <div class="grid-index-col1">
            
        </div>
        <aside class="grid-index-col2">
            <div class="empty-rectangle"></div>
            <div class="news-aside">
                <ul class="ul-col2">
                    
                </ul>                 
            </div>
        </aside>
    </div>
</section>

<section class="container">
    <h2 class="titleSection">+ Notícias</h2>
    <div class="content-plusnews">
    </div>
</section>

{% endblock %}