{% extends "template.html" %}
{% block conteudo %}
<section class="container">
    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/asteroides.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Asteroides: Ancestrais da história do Sistema Solar</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Asteroides</h2>
                    <p>Os asteroides são corpos rochosos e metálicos que orbitam o Sol e são considerados remanescentes da formação do Sistema Solar. Eles são compostos principalmente de rochas, minerais e metais, como ferro e níquel. Os asteroides variam em tamanho, desde pequenos fragmentos até corpos de vários quilômetros de diâmetro.

                    A maioria dos asteroides é encontrada no Cinturão de Asteroides, uma região localizada entre as órbitas de Marte e Júpiter. No entanto, existem também asteroides que orbitam em outras regiões do Sistema Solar e são chamados de asteroides troianos.
                    
                    Os asteroides desempenham um papel importante na compreensão da formação e evolução do Sistema Solar. Eles são considerados remanescentes dos blocos de construção que formaram os planetas e outras estruturas celestes. O estudo dos asteroides fornece informações valiosas sobre a composição química, estrutura interna e processos geológicos que ocorreram no início do Sistema Solar.
                    
                    Além disso, os asteroides também apresentam interesse científico e potencial para exploração espacial. Missões espaciais têm sido enviadas para estudar asteroides de perto, como a sonda Hayabusa2 da JAXA, que coletou amostras do asteroide Ryugu, e a missão OSIRIS-REx da NASA, que está retornando amostras do asteroide Bennu. Essas missões ajudam a ampliar nosso conhecimento sobre a composição dos asteroides e a entender sua importância na história do Sistema Solar.
                    
                    Os asteroides também são objetos de estudo e monitoramento devido ao seu potencial impacto na Terra. Alguns asteroides têm órbitas que cruzam com a órbita terrestre, representando um risco de colisão. Portanto, a detecção e rastreamento de asteroides próximos à Terra são atividades importantes para avaliar e mitigar o risco de impacto.
                    
                    Em resumo, os asteroides são corpos celestes importantes no estudo da formação e evolução do Sistema Solar. Eles fornecem informações valiosas sobre a composição e processos geológicos ocorridos no início do Sistema Solar. Além disso, representam alvos potenciais para exploração espacial e são objetos de monitoramento para a segurança da Terra.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/estrelas.jpg" alt="Estrelas">
                <h3 class="title-study" id="main">Estrelas: Iluminando o Universo com sua energia e evolução cósmica</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Estrelas</h2>
                    <p>As estrelas são objetos celestes de grande importância na astronomia e são consideradas as unidades básicas de estudo do universo. Elas são corpos autossustentáveis de plasma quente que brilham devido a reações nucleares em seus núcleos.

                    As estrelas têm uma estrutura interna complexa, com diferentes zonas e camadas. Em seu núcleo, ocorrem reações nucleares de fusão nuclear, onde átomos de hidrogênio se fundem para formar hélio, liberando uma grande quantidade de energia na forma de luz e calor. Essas reações nucleares são sustentadas pela enorme pressão e temperatura no núcleo estelar.
                    
                    A classificação das estrelas é baseada em propriedades como temperatura, cor, tamanho e luminosidade. A escala mais comumente usada é a classificação espectral, conhecida como classificação de Harvard, que vai das estrelas mais quentes (tipo O) às mais frias (tipo M).
                    
                    As estrelas passam por diferentes estágios de evolução, dependendo de sua massa. As estrelas de sequência principal, como o nosso Sol, são as mais comuns e estão em uma fase estável, onde a fusão nuclear ocorre regularmente. À medida que uma estrela consome seu combustível nuclear, ela pode evoluir para uma gigante vermelha, expandindo em tamanho e brilho. Estrelas mais massivas podem evoluir para supernovas, liberando uma enorme quantidade de energia e deixando para trás remanescentes como estrelas de nêutrons ou buracos negros.
                    
                    As estrelas desempenham um papel fundamental na formação e evolução das galáxias. Elas são responsáveis pela produção de elementos químicos além do hidrogênio e hélio por meio de processos nucleares em seus núcleos. Esses elementos são liberados no espaço quando as estrelas morrem, enriquecendo o meio interestelar e fornecendo matéria-prima para a formação de novas estrelas e sistemas planetários.
                    
                    O estudo das estrelas abrange várias áreas da astronomia, incluindo a física estelar, a evolução estelar, a formação estelar e a astrofísica estelar. Através da observação e análise das propriedades das estrelas, os astrônomos podem obter informações valiosas sobre a estrutura e a composição do universo, bem como sobre a origem e o destino das estrelas.
                    
                    Em resumo, as estrelas são corpos celestes fascinantes que brilham intensamente e fornecem energia ao universo. Elas passam por estágios evolutivos distintos, influenciam a formação de galáxias e desempenham um papel crucial na evolução do universo. O estudo das estrelas é uma área complexa e multifacetada da astronomia, que nos ajuda a compreender melhor o funcionamento do cosmos em que vivemos.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/galaxia.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Galáxias: Universos em constante evolução além dos nossos olhos</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Galáxias</h2>
                    <p>Galáxias são vastas estruturas cósmicas compostas por bilhões ou até mesmo trilhões de estrelas, além de gás, poeira interestelar, matéria escura e outros componentes. Elas são os principais componentes do Universo observável e desempenham um papel fundamental na compreensão da evolução do cosmos.

                    As galáxias podem variar amplamente em forma, tamanho e características. Existem diferentes tipos de galáxias, como as espirais, elípticas e irregulares, cada uma com suas características distintas. Galáxias espirais, como a Via Láctea, possuem braços espirais em torno de um núcleo central, enquanto galáxias elípticas têm uma forma mais arredondada e não apresentam estruturas espirais bem definidas. Já as galáxias irregulares têm formas irregulares e não se enquadram nas categorias anteriores.
                    
                    A estrutura e a evolução das galáxias são regidas pela interação gravitacional entre as estrelas e outros componentes. Elas podem colidir e fundir ao longo do tempo, formando galáxias maiores e mais complexas. Acredita-se que as galáxias tenham se formado a partir de pequenas flutuações de densidade no Universo primordial e tenham evoluído ao longo de bilhões de anos.
                    
                    O estudo das galáxias é uma área importante da astronomia e cosmologia. Os astrônomos utilizam telescópios e técnicas avançadas de observação para investigar as propriedades das galáxias em diferentes comprimentos de onda, desde a luz visível até ondas de rádio e raios-X. Eles estudam a distribuição de estrelas, o movimento do gás, os buracos negros supermassivos no centro das galáxias e a formação de estrelas e sistemas planetários.
                    
                    Além disso, as galáxias desempenham um papel fundamental na compreensão da cosmologia e da natureza do Universo. Elas fornecem informações sobre a estrutura em larga escala do cosmos, a distribuição de matéria e energia, e a história da formação e evolução das estruturas cósmicas.
                    
                    Em resumo, as galáxias são enormes aglomerados de estrelas e outros componentes que desempenham um papel crucial na evolução do Universo. O estudo das galáxias nos permite compreender melhor a estrutura e a evolução do cosmos, bem como a formação de estrelas e sistemas planetários. É uma área empolgante da astronomia que continua a revelar segredos sobre a vastidão do espaço.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/buracos negros.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Buracos Negros: As misteriosas abismos gravitacionais do cosmos</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Buracos Negros</h2>
                    <p>Buracos negros são regiões extremamente compactas e densas do espaço-tempo que possuem um campo gravitacional tão intenso que nada, nem mesmo a luz, pode escapar de sua atração. Eles surgem quando uma estrela massiva colapsa sob sua própria gravidade após esgotar seu combustível nuclear.

                    A principal característica dos buracos negros é o chamado horizonte de eventos, que é uma fronteira imaginária além da qual nada pode retornar. Uma vez que qualquer coisa, incluindo partículas subatômicas e até mesmo a luz, cruze o horizonte de eventos, ela é inevitavelmente absorvida pelo buraco negro.
                    
                    A física dos buracos negros é governada pelas equações da relatividade geral de Einstein. Eles possuem propriedades fascinantes, como a curvatura extrema do espaço-tempo próxima ao horizonte de eventos e a singularidade no centro do buraco negro, onde as leis conhecidas da física deixam de se aplicar.
                    
                    Existem diferentes tipos de buracos negros, incluindo os buracos negros estelares, que se formam a partir do colapso de estrelas massivas, e os buracos negros supermassivos, encontrados nos centros de galáxias e com massas milhões ou bilhões de vezes maiores que a do Sol.
                    
                    Os buracos negros são objetos de intensa pesquisa científica. Astrônomos usam observatórios espaciais e telescópios terrestres para detectar a presença de buracos negros através de seus efeitos gravitacionais e emissões de radiação. Estudos sobre buracos negros têm implicações profundas para a compreensão da natureza do espaço, tempo e gravidade, além de fornecer insights sobre a formação e evolução das galáxias.
                    
                    Embora ainda haja muito a ser descoberto sobre buracos negros, sua existência e propriedades têm sido confirmadas por uma ampla variedade de observações e evidências teóricas. Eles representam um dos fenômenos mais exóticos e intrigantes do universo, desafiando nossa compreensão atual das leis fundamentais da física.
                    
                    Em resumo, buracos negros são regiões de espaço-tempo com um campo gravitacional tão intenso que nada pode escapar de sua atração, incluindo a luz. Eles desempenham um papel fundamental na astrofísica e na compreensão da natureza do espaço, tempo e gravidade. O estudo dos buracos negros continua a desafiar e expandir nossa compreensão da física e da cosmologia.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/exoplanetas.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Exoplanetas: Revelando os segredos de mundos além do nosso sistema solar</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Exoplanetas</h2>
                    <p>Exoplanetas são planetas que orbitam estrelas fora do nosso sistema solar. Eles são objetos astronômicos de grande interesse científico, pois nos fornecem insights valiosos sobre a diversidade e a possibilidade de existência de vida em outros lugares do universo.

                    A descoberta e o estudo de exoplanetas foram impulsionados pelo avanço da tecnologia e das técnicas de observação. Os astrônomos utilizam diferentes métodos para detectar exoplanetas, como o método de trânsito, no qual observam a diminuição periódica do brilho de uma estrela quando um planeta passa em frente a ela, e o método de velocidade radial, que mede pequenas variações no movimento da estrela causadas pela presença de um planeta.
                    
                    Os exoplanetas podem variar amplamente em tamanho, composição e características. Eles podem ser gigantes gasosos semelhantes a Júpiter, superterras rochosas ou até mesmo planetas do tamanho da Terra localizados na chamada "zona habitável", onde as condições podem ser adequadas para a existência de água líquida e, potencialmente, de vida.
                    
                    A pesquisa de exoplanetas tem revelado uma grande diversidade de sistemas planetários, desafiando as teorias anteriores sobre a formação e a evolução de planetas. Além disso, a busca por exoplanetas habitáveis tem despertado grande interesse, levando à identificação de candidatos promissores para futuras missões de exploração espacial.
                    
                    O estudo de exoplanetas envolve não apenas a detecção e a caracterização desses objetos, mas também a investigação de suas atmosferas, composições químicas e possibilidade de abrigar vida. Os astrônomos usam instrumentos avançados, como espectrômetros e telescópios espaciais, para analisar a luz emitida ou absorvida pelos exoplanetas e obter informações sobre suas propriedades físicas e condições ambientais.
                    
                    A descoberta de exoplanetas tem revolucionado nossa compreensão do cosmos, destacando a vastidão e a diversidade do universo. Ela nos desafia a repensar nossa posição no universo e a explorar a possibilidade de existência de vida em outros planetas além do nosso próprio.
                    
                    Em resumo, os exoplanetas são planetas que orbitam estrelas fora do nosso sistema solar. Sua descoberta e estudo têm fornecido informações valiosas sobre a diversidade planetária e a possibilidade de existência de vida em outros lugares do universo. A pesquisa de exoplanetas continua a nos surpreender e a expandir nossa compreensão do cosmos.                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/cometas.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Cometas: Os mensageiros cósmicos do passado e da evolução do sistema solar</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Cometas</h2>
                    <p>Cometas são corpos celestes compostos principalmente por gelo, poeira e pequenas partículas que orbitam o Sol em trajetórias elípticas. Quando se aproximam do Sol, o calor faz com que o gelo se sublime, liberando gases e formando uma nuvem gasosa chamada coma, que é envolta por uma cauda luminosa.

                    Os cometas são remanescentes do início do sistema solar e, como tal, podem fornecer informações valiosas sobre as condições e os processos que ocorreram durante a formação do sistema solar. Eles são compostos por material primitivo que não sofreu muitas alterações desde a sua formação, o que os torna verdadeiras cápsulas do tempo cósmicas.
                    
                    A órbita de um cometa pode variar de alguns anos a milhares de anos. Quando um cometa se aproxima do Sol, a radiação solar aquece a coma e a pressão da luz solar empurra os gases e a poeira para longe do núcleo, formando uma cauda brilhante. As caudas dos cometas podem ser compostas por gás ionizado (cauda iônica) e partículas de poeira refletindo a luz solar (cauda de poeira).
                    
                    A observação e o estudo de cometas são realizados por meio de telescópios terrestres e missões espaciais dedicadas. As sondas espaciais podem se aproximar dos cometas, coletar amostras de material cometário e fornecer imagens detalhadas de sua estrutura interna. Exemplos notáveis de missões espaciais que estudaram cometas incluem a sonda Rosetta, que acompanhou o cometa 67P/Churyumov-Gerasimenko, e a missão Stardust, que coletou amostras do cometa Wild 2.
                    
                    Os cometas desempenham um papel importante na evolução do sistema solar, fornecendo água e outros compostos voláteis para planetas e corpos celestes. Além disso, eles têm sido associados a eventos astronômicos significativos, como chuvas de meteoros e impactos com planetas ou luas.
                    
                    Em resumo, os cometas são corpos celestes compostos por gelo, poeira e partículas que orbitam o Sol em trajetórias elípticas. Eles fornecem informações valiosas sobre a formação do sistema solar e desempenham um papel importante na evolução do sistema solar. O estudo dos cometas envolve observações telescópicas e missões espaciais dedicadas, permitindo-nos desvendar os segredos desses objetos fascinantes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/nebulosas.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Nebulosas: Berçários estelares e paisagens cósmicas de beleza intrigante</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Nebulosas</h2>
                    <p>Nebulosas são vastas nuvens de gás e poeira no espaço interestelar. Elas são regiões de formação estelar, onde novas estrelas nascem, e também podem ser o resultado de estágios avançados de evolução estelar, como a explosão de uma supernova. Nebulosas apresentam uma variedade de formas e cores fascinantes e desempenham um papel fundamental na compreensão da formação e evolução das estrelas e galáxias.

                    Existem diferentes tipos de nebulosas, incluindo nebulosas de emissão, nebulosas de reflexão e nebulosas escuras. As nebulosas de emissão são iluminadas por estrelas quentes e jovens, que ionizam o gás ao seu redor, produzindo uma emissão de luz característica. As nebulosas de reflexão são iluminadas pela luz das estrelas próximas, refletindo-a e criando uma aparência azulada. Já as nebulosas escuras são densas nuvens de poeira que bloqueiam a luz das estrelas de fundo, criando áreas de escuridão no céu.
                    
                    As nebulosas desempenham um papel crucial na formação estelar. Dentro dessas vastas nuvens de gás e poeira, a gravidade atrai partículas e as comprime, levando à formação de aglomerados densos conhecidos como protoestrelas. À medida que o material se condensa e se aquece, uma estrela nasce. Esse processo de formação estelar ocorre em nebulosas chamadas de nebulosas de emissão, onde jovens estrelas massivas estão presentes.
                    
                    Além de serem berçários estelares, as nebulosas também têm um papel importante na reciclagem de material cósmico. Quando uma estrela massiva explode em uma supernova, ela libera uma grande quantidade de energia e material no espaço. Essa explosão cria uma nebulosa remanescente, conhecida como nebulosa supernova, que espalha os elementos químicos pesados ​​formados durante a vida estelar para o meio interestelar, enriquecendo-o com elementos essenciais para a formação de novas estrelas e sistemas planetários.
                    
                    O estudo das nebulosas é realizado por meio de observações telescópicas em diferentes comprimentos de onda, como luz visível, infravermelha e radiofrequência. Essas observações nos permitem investigar as propriedades físicas das nebulosas, como sua composição química, temperatura, densidade e estrutura. Além disso, tecnologias avançadas, como telescópios espaciais e instrumentos de imagem de alta resolução, fornecem imagens detalhadas das nebulosas, revelando sua beleza e complexidade.
                    
                    Em resumo, as nebulosas são nuvens de gás e poeira no espaço interestelar. Elas desempenham um papel fundamental na formação e evolução estelar, atuando como berçários estelares e reciclando material cósmico. O estudo das nebulosas nos ajuda a compreender a origem e o desenvolvimento das estrelas e das galáxias, além de nos maravilhar com sua diversidade e beleza.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/estrelas de neutrons.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Estrelas de Nêutrons: Relíquias cósmicas de densidade extrema e campos magnéticos poderosos</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Estrelas de Nêutrons</h2>
                    <p>As estrelas de nêutrons são remanescentes estelares extremamente densas e compactas, resultantes da explosão de supernovas de estrelas massivas. Elas possuem um núcleo composto principalmente por nêutrons, que são partículas subatômicas sem carga elétrica. Com diâmetros de aproximadamente 20 quilômetros, as estrelas de nêutrons são incrivelmente densas, com massas comparáveis à do Sol concentradas em uma pequena região.

                    A extrema densidade das estrelas de nêutrons é resultado do colapso gravitacional que ocorre durante a explosão de supernova. Quando uma estrela massiva esgota seu combustível nuclear, a pressão do núcleo não é mais suficiente para contrabalançar a força gravitacional. O núcleo entra em colapso rapidamente, comprimindo os elétrons e prótons em nêutrons por meio de processos físicos intensos, como captura de elétrons e colapso gravitacional.
                    
                    Essas estrelas são conhecidas por sua extrema gravidade, que é capaz de curvar o espaço-tempo ao seu redor, criando um fenômeno chamado de campo gravitacional intenso. Esse campo gravitacional é tão intenso que afeta o comportamento da luz, causando um fenômeno conhecido como lente gravitacional. Além disso, as estrelas de nêutrons apresentam campos magnéticos extremamente fortes, milhões de vezes mais intensos do que os campos magnéticos terrestres.
                    
                    As estrelas de nêutrons também são conhecidas por emitir pulsos regulares de radiação eletromagnética, sendo chamadas de pulsares. Esses pulsos são causados pela rotação rápida das estrelas de nêutrons, que possuem períodos de rotação de milissegundos a segundos. À medida que a estrela de nêutrons gira, feixes estreitos de radiação são emitidos em direções específicas, criando um efeito de pulso detectado pelos observatórios astronômicos.
                    
                    Além de sua natureza fascinante, as estrelas de nêutrons desempenham um papel importante na astrofísica. O estudo dessas estrelas permite a compreensão de fenômenos físicos extremos, como a matéria em condições extremas de densidade e pressão, a física nuclear e a relatividade geral. Além disso, as estrelas de nêutrons estão relacionadas a outros eventos astronômicos interessantes, como as explosões de raios gama e a formação de buracos negros.
                    
                    Em resumo, as estrelas de nêutrons são remanescentes estelares extremamente densas e compactas, formadas a partir de supernovas. Elas possuem núcleos compostos principalmente por nêutrons e exibem características únicas, como extrema densidade, campos gravitacionais intensos e emissão de pulsos regulares. O estudo dessas estrelas nos ajuda a compreender a física de altas energias e fenômenos extremos no universo.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/estrelas binarias.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Estrelas Binárias: A dança gravitacional de duas estrelas em um espetáculo cósmico</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Estrelas Binárias</h2>
                    <p>As estrelas binárias são sistemas estelares compostos por duas estrelas que orbitam uma em torno da outra devido à interação gravitacional mútua. Esses sistemas oferecem uma oportunidade única para estudar fenômenos astrofísicos complexos, como transferência de massa, evolução estelar e explosões estelares.

                    Existem diferentes tipos de estrelas binárias, dependendo das características das estrelas envolvidas. Um tipo comum é a estrela binária de contato, na qual as estrelas estão tão próximas que compartilham suas atmosferas externas. Nesse caso, a transferência de massa ocorre de uma estrela para a outra, criando discos de acreção e episódios de atividade estelar intensa, como erupções e explosões termonucleares.
                    
                    Outro tipo de estrela binária importante é a estrela binária de eclipses, na qual as estrelas orbitam em um plano de modo que, quando vistas da Terra, passam uma na frente da outra, causando eclipses periódicos. Esses eclipses fornecem informações valiosas sobre as propriedades físicas das estrelas, como seus tamanhos relativos, temperaturas e luminosidades.
                    
                    As estrelas binárias também podem evoluir ao longo do tempo, sofrendo mudanças em suas características e até mesmo dando origem a outros fenômenos estelares, como novas e supernovas. A interação gravitacional entre as estrelas pode levar a transferências de massa adicionais, aceleração da evolução estelar e interações dinâmicas complexas.
                    
                    Além de seu interesse científico intrínseco, o estudo das estrelas binárias tem implicações importantes em muitas áreas da astrofísica. Elas fornecem insights sobre a evolução estelar, a formação de sistemas planetários, a produção de elementos químicos pesados e a física de plasma em ambientes extremos.
                    
                    Em resumo, as estrelas binárias são sistemas estelares compostos por duas estrelas que orbitam uma em torno da outra. Elas oferecem uma oportunidade única para estudar fenômenos astrofísicos complexos, como transferência de massa, evolução estelar e explosões estelares. O estudo desses sistemas contribui para nossa compreensão da formação e evolução estelar, bem como para a compreensão mais ampla da astrofísica.                 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/quasares.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Quasares: Os faróis cósmicos que revelam os segredos do universo distante</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Quasares</h2>
                    <p>Os quasares, também conhecidos como quasares de núcleo galáctico ativo, são objetos astronômicos extremamente brilhantes e distantes que emanam uma quantidade imensa de energia. Eles são associados aos núcleos de galáxias ativas e são considerados uma das entidades mais energéticas do universo observável.

                    Os quasares são caracterizados por sua intensa emissão de radiação eletromagnética em diversas faixas do espectro eletromagnético, incluindo rádio, infravermelho, ultravioleta, raios-X e raios gama. Essa radiação é produzida por um processo conhecido como acreção, no qual matéria é atraída e consumida por um buraco negro supermassivo no centro da galáxia hospedeira.
                    
                    Acredita-se que os quasares sejam alimentados pelo material que cai em direção ao buraco negro, formando um disco de acreção ao redor dele. À medida que a matéria é comprimida e aquecida nesse disco, ela emite grandes quantidades de energia. A liberação dessa energia é tão intensa que os quasares podem ser observados a bilhões de anos-luz de distância.
                    
                    Os quasares desempenham um papel fundamental no estudo da formação e evolução de galáxias. Sua presença está associada a estágios iniciais de evolução galáctica, nos quais o buraco negro supermassivo está crescendo rapidamente e liberando uma quantidade imensa de energia. Estudar os quasares permite aos astrônomos entender melhor a relação entre buracos negros supermassivos e suas galáxias hospedeiras.
                    
                    Além disso, os quasares são importantes para investigações cosmológicas, uma vez que sua radiação pode ser usada para sondar o meio intergaláctico e as estruturas de grande escala do universo. Eles também fornecem informações sobre a natureza das primeiras fases do universo e os processos físicos que ocorreram nesses estágios.
                    
                    Em resumo, os quasares são objetos astronômicos altamente energéticos associados aos núcleos de galáxias ativas. Eles são alimentados por buracos negros supermassivos e emitem intensas quantidades de radiação em várias faixas do espectro eletromagnético. O estudo dos quasares contribui para nossa compreensão da formação e evolução galáctica, bem como para a investigação cosmológica e a compreensão do universo primordial.         
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/supernovas.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Supernovas: Explosões estelares que moldam o universo</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Supernovas</h2>
                    <p>As supernovas são eventos astronômicos cataclísmicos que ocorrem quando estrelas massivas chegam ao fim de sua vida. Durante uma supernova, a estrela experimenta uma explosão poderosa, liberando uma quantidade extraordinária de energia e brilhando intensamente por um curto período de tempo.

                    Existem dois tipos principais de supernovas: as do Tipo I e as do Tipo II. As supernovas do Tipo I ocorrem em sistemas binários, nos quais uma estrela de nêutrons ou um buraco negro está acumulando matéria de uma estrela companheira. O acúmulo de matéria atinge um ponto crítico, desencadeando uma explosão termonuclear que destrói a estrela. Já as supernovas do Tipo II ocorrem quando uma estrela massiva esgota seu combustível nuclear e entra em colapso gravitacional. O colapso resulta em uma explosão que espalha os elementos pesados formados no núcleo da estrela para o espaço.
                    
                    Durante uma supernova, a energia liberada é tão intensa que a estrela pode brilhar mais do que uma galáxia inteira por um curto período de tempo. Durante esse processo, elementos mais pesados do que o ferro são formados e lançados no espaço, enriquecendo o meio interestelar com materiais essenciais para a formação de novas estrelas e planetas.
                    
                    As supernovas desempenham um papel fundamental na evolução do universo, pois são responsáveis pela disseminação dos elementos químicos produzidos no núcleo das estrelas. Esses elementos são essenciais para a formação de planetas, a vida como a conhecemos e até mesmo para o surgimento de seres humanos. Além disso, as supernovas podem deixar para trás remanescentes estelares como estrelas de nêutrons ou buracos negros, que continuam a influenciar o ambiente cósmico ao seu redor.
                    
                    O estudo das supernovas fornece informações valiosas sobre a evolução estelar, a física nuclear, a formação de elementos químicos e a cosmologia. Astrônomos utilizam observações de supernovas para estimar distâncias cósmicas e medir a expansão do universo. Além disso, as supernovas são uma das principais fontes de ondas gravitacionais, fornecendo uma nova maneira de estudar o cosmos.
                    
                    Em resumo, as supernovas são explosões estelares cataclísmicas que ocorrem no final da vida de estrelas massivas. Elas liberam quantidades enormes de energia, formam elementos químicos pesados e desempenham um papel crucial na evolução do universo. O estudo das supernovas proporciona insights sobre a evolução estelar, a cosmologia e a formação de elementos químicos, contribuindo para nossa compreensão do cosmos em que vivemos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study">
        <div class="card" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/anas brancas.jpg" alt="Imagem">
                <h3 class="title-study" id="main">Anãs Brancas: Relíquias estelares compactas que revelam a evolução estelar</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Anãs Brancas</h2>
                    <p>As anãs brancas são remanescentes estelares resultantes do estágio final da evolução de estrelas de massa baixa a intermediária. Elas são caracterizadas por seu tamanho compacto e densidade extremamente alta, sendo compostas principalmente por carbono e oxigênio.

                    Após esgotarem o combustível nuclear em seus núcleos, estrelas semelhantes ao Sol passam por uma série de transformações. Primeiro, a estrela se expande e se torna uma gigante vermelha, liberando suas camadas externas no espaço em uma nebulosa planetária. O núcleo remanescente, composto principalmente por carbono e oxigênio, contrai-se para formar uma anã branca.
                    
                    Devido à sua densidade, a matéria em uma anã branca é sustentada pela pressão de degenerescência eletrônica, uma vez que a força da gravidade é contrabalanceada pela repulsão eletrostática dos elétrons. Isso resulta em um objeto extremamente compacto, com uma massa comparável à do Sol, mas com um tamanho semelhante ao da Terra.
                    
                    As anãs brancas são objetos altamente estáveis, resfriando gradualmente ao longo de bilhões de anos. Elas não possuem processos de fusão nuclear em seu interior, e sua energia é gerada apenas pela radiação residual do processo de resfriamento. À medida que uma anã branca esfria, ela passa por diferentes estágios, começando como uma anã branca quente e eventualmente se tornando uma anã branca fria.
                    
                    Uma das características mais fascinantes das anãs brancas é o limite de Chandrasekhar, que é a massa máxima teoricamente permitida para uma anã branca antes que ela colapse sob sua própria gravidade e se torne um objeto ainda mais denso, como uma estrela de nêutrons ou um buraco negro.
                    
                    Estudar as anãs brancas fornece informações valiosas sobre a evolução estelar, a física de altas densidades e a cosmologia. Além disso, esses objetos desempenham um papel importante na formação de sistemas binários, uma vez que podem interagir com estrelas companheiras e, em alguns casos, desencadear explosões termonucleares conhecidas como novas ou supernovas tipo Ia.
                    
                    Em resumo, as anãs brancas são remanescentes estelares altamente compactos e densos que se formam no estágio final da evolução de estrelas de massa baixa a intermediária. Elas são compostas principalmente por carbono e oxigênio, e sua estabilidade é mantida pela pressão de degenerescência eletrônica. O estudo das anãs brancas contribui para nossa compreensão da evolução estelar, da física de altas densidades e da formação de sistemas binários.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-study study-grid">
        <div class="card" id="card-grid1" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/satelites naturais.jpg" alt="Imagem">
                <h3 class="title-study">Satélites Naturais</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Satélites Naturais</h2>
                    <p>Os satélites naturais são corpos celestes que orbitam planetas, planetas anões ou até mesmo asteroides maiores. Eles são objetos de tamanho menor em comparação com planetas, comumente com dimensões na faixa de algumas centenas de quilômetros até alguns milhares de quilômetros.

                    Esses satélites podem ser divididos em duas categorias principais: luas e asteroides ou objetos menores similares a luas. As luas são satélites naturais que orbitam planetas ou planetas anões, enquanto os asteroides ou objetos similares a luas são satélites naturais que orbitam asteroides maiores ou outros corpos celestes.
                    
                    Os satélites naturais desempenham papéis significativos em nosso sistema solar. Eles ajudam a estabilizar as órbitas dos planetas, contribuem para a formação de marés nos corpos orbitados e podem até mesmo abrigar condições favoráveis à vida. Além disso, eles fornecem oportunidades valiosas para a exploração espacial, oferecendo insights sobre a história e a composição de seus corpos hospedeiros.
                    
                    Alguns exemplos notáveis de satélites naturais incluem a Lua da Terra, que desempenha um papel fundamental na regulação das marés e no estabelecimento de um ambiente estável para a vida na Terra. Outro exemplo é Europa, uma das luas de Júpiter, que abriga um oceano subsuperficial e é considerada um alvo promissor na busca por vida além do nosso planeta.</p>
                </div>
            </div>
        </div>
        <div class="card" id="card-grid2" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/cinturão de kuiper.jpg" alt="Imagem">
                <h3 class="title-study">Cinturão de Kuiper</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Cinturão de Kuiper</h2>
                    <p>O Cinturão de Kuiper é uma região do sistema solar além da órbita de Netuno. Ele consiste em objetos gelados, como planetas anões, asteroides e cometas. Esses corpos celestes têm tamanhos variados e são compostos principalmente de gelo, como água e metano.

                    Acredita-se que o Cinturão de Kuiper seja composto por remanescentes da formação do sistema solar. Esses objetos se formaram nas regiões externas e foram capturados pela influência gravitacional de Netuno. O estudo do Cinturão de Kuiper nos ajuda a entender a evolução do nosso sistema planetário e a compreender as condições primitivas do sistema solar.
                    
                    A exploração do Cinturão de Kuiper tem sido realizada por missões espaciais, como a sonda New Horizons, que fez um sobrevoo próximo de Plutão em 2015. Essas missões forneceram informações valiosas sobre a composição e as características dos objetos do cinturão, além de revelar detalhes fascinantes sobre Plutão e seus satélites naturais.
                    
                    Em resumo, o Cinturão de Kuiper é uma região além de Netuno composta por objetos gelados do sistema solar. Estudar esse cinturão nos ajuda a entender a formação e a evolução do sistema solar, além de revelar informações importantes sobre os corpos celestes que o habitam.</p>
                </div>
            </div>
        </div>
        <div class="card" id="card-grid3" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/Oort Cloud.jpg" alt="Imagem">
                <h3 class="title-study">Oort Cloud</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Oort Cloud</h2>
                    <p>A Nuvem de Oort é uma região hipotética do sistema solar além do Cinturão de Kuiper. Estima-se que esteja localizada a uma distância de 2.000 a 100.000 unidades astronômicas do Sol. Acredita-se que a Nuvem de Oort seja composta principalmente por cometas e corpos celestes gelados.

                    Essa região foi proposta pelo astrônomo Jan Oort na década de 1950 e é considerada uma fonte de cometas de longo período que ocasionalmente entram no sistema solar interno. A Nuvem de Oort desempenha um papel importante na dinâmica do sistema solar, fornecendo uma reserva de cometas que podem ser perturbados por forças gravitacionais e enviados em trajetórias em direção ao Sol.
                    
                    Embora a Nuvem de Oort ainda seja pouco compreendida devido à sua distância e falta de observações diretas, estudos teóricos e modelos computacionais nos ajudam a entender sua existência e seu impacto na evolução do sistema solar. A presença da Nuvem de Oort nos leva a questionar a origem dos cometas e a explorar as influências externas que moldam a dinâmica do nosso sistema planetário.
                    
                    Em resumo, a Nuvem de Oort é uma região além do Cinturão de Kuiper que abriga uma reserva de cometas e corpos celestes gelados. Sua existência e influência na dinâmica do sistema solar desempenham um papel fundamental na compreensão da origem e evolução dos cometas em nosso sistema planetário.</p>
                </div>
            </div>
        </div>
        <div class="card" id="card-grid4" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/planetas anoes.jpg" alt="Imagem">
                <h3 class="title-study">Planetas Anões</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Planetas Anões</h2>
                    <p>Planetas Anões são corpos celestes que compartilham características tanto de planetas quanto de asteroides. Eles são semelhantes aos planetas em termos de forma esférica e órbita ao redor do Sol, mas diferem por não terem limpado suas órbitas de outros objetos próximos.

                    Essa categoria de objetos foi estabelecida pela União Astronômica Internacional (IAU) em 2006. Atualmente, existem cinco planetas anões reconhecidos: Plutão, Éris, Haumea, Makemake e Ceres. Esses corpos são de tamanhos variados e geralmente compostos por gelo e rocha.
                    
                    Os planetas anões estão distribuídos em diferentes regiões do sistema solar. Plutão e Éris, por exemplo, estão localizados no Cinturão de Kuiper, uma região além da órbita de Netuno. Ceres, por sua vez, está no Cinturão de Asteroides, localizado entre as órbitas de Marte e Júpiter.
                    
                    O estudo dos planetas anões é importante para entender a diversidade e a evolução do sistema solar. Eles nos fornecem informações sobre as condições nas regiões distantes do sistema solar e sobre os processos que ocorreram durante a formação dos planetas.
                    
                    Em resumo, os planetas anões são corpos celestes que compartilham características de planetas e asteroides. Eles têm forma esférica e órbitam ao redor do Sol, mas não conseguiram limpar suas órbitas de outros objetos próximos. O estudo desses corpos nos ajuda a compreender a diversidade e a evolução do sistema solar.</p>
                </div>
            </div>
        </div>
        <div class="card" id="card-grid5" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/newton.jpg" alt="Imagem">
                <h3 class="title-study">Lei da Gravitação Universal de Newton</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Gravitação Universal</h2>
                    <p>A Lei da Gravitação Universal, proposta por Isaac Newton, é uma das leis fundamentais da física que descreve a força de atração entre corpos massivos. De acordo com essa lei, a força gravitacional entre dois corpos é diretamente proporcional às suas massas e inversamente proporcional ao quadrado da distância entre eles.

                    Essa lei tem uma importância fundamental na astronomia, pois permite entender o movimento dos corpos celestes no espaço. Ela explica, por exemplo, as órbitas dos planetas ao redor do Sol e a interação entre estrelas e galáxias. Além disso, a Lei da Gravitação Universal tem aplicações em outros campos da física, como na mecânica orbital de satélites e na previsão de fenômenos astronômicos, como eclipses e marés. Sua formulação matemática e seu alcance universal fazem da Lei da Gravitação uma das descobertas mais significativas na história da ciência.</p>
                </div>
            </div>
        </div>
        <div class="card" id="card-grid6" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/kepler.jpg" alt="Imagem">
                <h3 class="title-study">Lei de Kepler</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Lei de Kepler</h2>
                    <p>A Lei de Kepler, formulada por Johannes Kepler no século XVII, descreve o movimento dos planetas em torno do Sol. A primeira lei afirma que as órbitas planetárias são elípticas, com o Sol ocupando um dos focos da elipse. A segunda lei estabelece que a velocidade orbital de um planeta varia de forma que áreas iguais são varridas em tempos iguais. A terceira lei relaciona o período orbital de um planeta com o tamanho de sua órbita, afirmando que o quadrado do período é proporcional ao cubo do semieixo maior da órbita. Essas leis são fundamentais para a compreensão do movimento planetário e têm aplicações em astronomia e astrofísica, permitindo a previsão e o estudo dos movimentos dos corpos celestes no Sistema Solar e além. A Lei de Kepler foi um marco importante na história da astronomia e pavimentou o caminho para as leis da gravitação universal de Newton.</p>
                </div>
            </div>
        </div>
        <div class="card" id="card-grid7" onclick="rotateCard(this)">
            <div class="card-front">
                <img src="../static/src/img/einstein.jpg" alt="Imagem">
                <h3 class="title-study">Teoria da Relatividade de Einstein</h3>
            </div>
            <div class="card-back">
                <div class="text-container">
                    <h2>Teoria da Relatividade</h2>
                    <p>A Teoria da Relatividade de Einstein, desenvolvida por Albert Einstein no início do século XX, revolucionou nossa compreensão do espaço, tempo e gravidade. Essa teoria propõe que as leis da física são as mesmas para todos os observadores, independentemente de sua velocidade relativa, e postula que a gravidade é uma curvatura do espaço-tempo causada pela presença de massa e energia. A Teoria da Relatividade foi confirmada por inúmeras observações e experimentos, e suas previsões têm implicações profundas em áreas como a cosmologia e a astrofísica, permitindo-nos compreender melhor a estrutura e a evolução do universo, bem como o comportamento de objetos massivos como buracos negros. Essa teoria revolucionária continua a ser uma base fundamental para a compreensão moderna da física e suas aplicações tecnológicas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}