<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Space</title>
    <meta name="title" content="New Space">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/missions.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='src/img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/study.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <!-- Option 1: Include in HTML -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/bootstrap-icons.svg"></script>
    <script src="https://kit.fontawesome.com/da218c70e5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="navbar">
        <div class="topHeader">
            <p>New Space, o maior site de divulgação científica do mundo!</p>
        </div>
        <div class="conteiner-logo-header">
            <div class="mainHeader">
                <div class="logoHeader">
                    <a class="" href="{{ url_for('index') }}" tabindex="1">
                        <img class="navbar-brand" alt="New Space logo" src="{{ url_for('static', filename='src/img/LOGO - New Space.png') }}">
                    </a>
                </div>
                <div id="titleHeader">
                    <h1>New</h1>
                    <h1><span>Space</span></h1>
                </div>
            </div>
            <div class="menu-section">
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <div class="navContainer">
                    <nav class="navHeader">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('index') }}"><i class="bi bi-house-door"></i> Home</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('noticias') }}"><i class="bi bi-file-earmark-text"></i> Notícias</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('estude') }}"><i class="bi bi-book"></i> Estude</a>
                            </li>
                            
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('gallery') }}"><i class="bi bi-camera-video"></i> NS Mídia</a></li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('missoes') }}"><i class="fa-solid fa-user-astronaut"></i> Missões</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('sobre') }}"><i class="fa-solid fa-exclamation"></i> Sobre</a>
                            </li>
                            {% if session['usuario_logado'] %}
                            <li class="nav-item">
                              <a class="nav-link" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                              <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block conteudo %}  {% endblock %}
    </main>

    <footer>
        <div id="footer_content">
            <div id="footer_logo">
                <img class="navbar-brand" alt="New Space logo" src="{{ url_for('static', filename='src/img/favicon.png') }}">
                <p>
                    Aqui você irá encontrar conteúdos relevantes no ambito astronômico da atualidade. Para ficar por dentro desse universo, nos acompanhe nas redes sociais ou inscreva-se acima em nossa newsletter.
                </p>
            </div>
            
            <div id="footer_contacts">
                <div id="footer_social_media">
                    <a href="https://www.instagram.com/luizfernando100_/" class="footer-link" id="instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/luizfernando100/" class="footer-link" id="linkedin">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://github.com/luizfernandoin" class="footer-link" id="github">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="#" class="footer-link" id="email">
                        <i class="bi bi-envelope"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2023 NewSpace. Todos os direitos reservados!
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/testimonials.js') }}"></script>
    <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/study.js') }}" defer></script>
</body>
</html>